
body {
    
    font-family: 'Poppins', sans-serif;
background-color: antiquewhite;

}

.welcome-page { 

    height: 100vh; 
    
    background: url('../images/gym.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative; 
    } 

.footer-style {
    background-color: #ffffff;
}


.ft-style {
    background-color: rgb(122, 120, 114);
}

h1 { color: rgb(187, 49, 49);

}

 p { color: rgb(78, 78, 78);

}

